/* ============================================================================
 * Unhide context menu items
 * ========================================================================= */

#context-navigation, #context-sep-navigation, #context-sendimage,
#context-savelink, #context-savepage, #context-inspect-a11y,
#context-print-selection, #context-selectall, #context-sep-selectall,
#toolbar-context-undoCloseTab +menuseparator {
    display: flex !important;
}
