/* ============================================================================
 * Disable animations
 * NOTE: "--dtui-sidebar-animation-speed" should also be added in Sidebery
 * ========================================================================= */

* {
  --dtui-sidebar-animation-speed: 0ms;
  --dtui-bookmarks-animation-speed: 0ms;
  --dtui-menu-animation-speed: 0ms;
  --dtui-window-animation-speed: 0ms;
  --dtui-urlbar-animation-speed: 0ms;
}
