/* ============================================================================
 * Disable sidebar extend
 * ========================================================================= */

* {
  --dtui-sidebar-extended-width: var(--dtui-sidebar-no-extend-width);
  --dtui-sidebar-animation-speed: 0ms;
}

#sidebar-main:hover {
  .tab-icon-stack[soundplaying], .tab-icon-stack[muted], .tab-icon-stack[activemedia-blocked] {
    .tab-icon-image { opacity: 0 !important; }
  }
}
#sidebar-main .tabbrowser-tab:hover {
  .tab-icon-overlay { display: none !important; }
  .tab-icon-stack[soundplaying], .tab-icon-stack[muted], .tab-icon-stack[activemedia-blocked] {
    .tab-icon-image {
      margin-left: 0px !important;
      opacity: 1 !important;
    }
  }
}
